
.item
	h2 #{ title}
	h4 #{ author}
		#date1 #{ date_modified}

	img(src= image , height='160')

	div #{ content_text}
	a(href= external_url, target='_blank') Click for more ...

	p
	p


script.
	var cur = '#{id}'
	console.log(cur)

	loadjs.ready('xxx', function() {
		// show the date
		var local = moment.unix(#{updated}).local()
		var dat = local.format('MMMM Do YYYY') // Z
		console.log(dat)
		bind('date1', 'dateX', dat)
	})

	function bind(eID, field, value) {
		let tmpl = document.getElementById(eID)
		let doIt = doT.template(tmpl.innerHTML)
		let bind = new Object()
		bind[field] = value
		let res = doIt(bind)
		tmpl.innerHTML=res
	}

	loadjs.ready('core', function() {

	})